*{margin: 0;
padding: 0;}

/**************    HOME    ***************/

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');


body{

    font-family: 'Roboto', sans-serif;     
    background-color: rgb(0, 1, 3);
}

   /* HEADER: HOME */

.logo{
       width: 125px;
       cursor: pointer;
}



.navbar-toggler-icon{
    background-color:gray;
  
}
       


.nav-link{

    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    list-style-type: none;
    font-weight: bold;
}
/* HOVER A ETIQUETA A */
.nav-link:hover{
    color: #b1b1b1;
}

   
.navItem{
    display: inline-block;
    padding: 0px 25px;
}

   

  /* MAIN */

.contenedorPosters{
    display: grid;
    grid-template-columns: repeat(4,1fr);
 
}

  
.nombrePelicula{
    color:rgb(163, 163, 163);
    font-size: 25px;
    text-align: center;
    margin: 15px;
    font-weight: bold;
}

.estrenos {
      
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 25px;
}

.divPosters{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(44, 42, 42);
    width: auto;
    height: auto;
    border: solid rgb(83, 77, 77) ;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
 
    
    
}

.imgPoster{
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 5px;
    border-bottom: 20px;
    cursor: pointer;

}

.sinopsisPelicula{
    color: white;
    font-size: 20px;
    text-align: center;

}
 


.caliPelicula{
    color: rgb(156, 156, 156);
    font-size: 20px;
    text-align: center;

}
.horarioBtn{
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
/* Hover al boton de horario */
.horarioBtn:hover{
    background-color: black;
    color: #fff;
}


/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    margin: 20px;
    background-color: black;
}

.tituloFoot{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.logosRedes{
    width: 75px;
    padding: 10px;
    cursor: pointer;
    
}

/* RESPONSIVE PARA CELULAR */

@media (max-width: 760px){
   
    
    .contenedorPosters{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
        
    }

    .estrenos{
        font-size: 30px;
    }

    .divPosters{
        width: auto;
        height: auto;
        
    }

    .imgPoster{
        width: 250px;
        height: 250px;
    }

    .sinopsisPelicula{
       
        font-size: 15px;
        text-align: center;
    
    }
     
    .nombrePelicula{
        
        font-size: 20px;
        text-align: center;
    }
    
    .caliPelicula{
               
        font-size: 20px;
        text-align: center;
    }


    .tituloFoot{
        font-size: 20px;
    }
    .logosRedes{
        width: 50px;
    }

}

@media (min-width: 761px) and (max-width:1005px){
    .contenedorPosters{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .logosRedes{
        width: 65px;
    }
}